@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
  background-color: var(--background);
}

:root{
  --backgroundHeader: rgba(20, 20, 22, 0.829) ;
  --background: #0F172C;
  --purple: #8546EF;
  --pink: #fdc7d7;
  --words: #fdffff;
  --button:#0a0c13;
  --hover:#fdffffd0;
  --modal: #32353db9;

  --title: 'Poppins', sans-serif, Arial, Helvetica;
  --paragraph: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.darktheme{
  --background: #fdffff00;
  --words: rgba(32, 31, 31, 0.842);
  --button: #fff;
  --hover:rgba(51, 47, 47, 0.548);
  --modal: rgba(131, 137, 146, 0.815);
}
.fa-solid{
  cursor: pointer;
  color: var(--words);
  font-size: 2rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 2;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.light{
display: flex;
align-items: center;
gap: 3rem;
}
.box-about{
  display: flex;
  margin-top: 7rem;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.box-about img{
  height: 15rem;
  margin-left: 15rem;
  border-radius: 5px 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  animation: shimmy 3s infinite;
  animation-direction:alternate;
}
.box-about p{
  word-wrap: break-word;
  margin: 5rem;
  padding: 5rem;
  color: var(--words);
  font-family: var(--title);
  letter-spacing: .5px;
}
.resume{
  display: flex;
  justify-content: center;
}
.resume button{
  width: 190px;
  height: 100px;
  border: none;
  outline: none;
  color:var(--button) ;
  background: var(--words);
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  font-size: 20px;
}
.resume button:hover{
  background-color: var(--hover);
}
#menu {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-right: 4rem;
  align-items: center;
}
#menu a {
  display: block;
  padding: 0.5rem;
  color: var(--words);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  position: relative;
}
#menu a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#menu a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
#btn-mobile {
  display: none;
}
@media (max-width: 600px) {
  #menu {
    margin: auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #0F172C;
    transition: 0.6s ease-in;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
    padding: 30px;
    margin-top: 16px;
    z-index: 5;
  }
  #nav.active #menu {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
    color: white !important;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--words);
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #portfolio{
    margin: auto;
  }
}
#logo{
  width: 50px;
  border-radius: 100%;
  margin-left: 10px;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hello{
  color: var(--words);
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  margin: 6rem 0 0 8rem;
  font-size: 30px;
}
.title-word {
  animation: color-animation 4s infinite ease-in;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
#portfolio {
  margin: 2rem auto;
  width: 220px;
  height: 80px;
  border: none;
  outline: none;
  color:var(--button) ;
  background: var(--words);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  font-size: 20px;

}

#portfolio:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
#portfolio:active:after {
  background: transparent;
}

#portfolio:hover:before {
  opacity: 1;
}

#portfolio:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:var(--words);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.work{
  height: 400px;
  margin-top: 2rem;
  margin-right: 10rem;
  animation: shimmy 3s infinite;
  animation-direction: alternate;
}
@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(20px, 50px);
  }
}
@media (max-width: 1000px) {
  .work{
    display: none;
  }
  .hello{
    margin: auto;
    margin-top: 10rem;
    text-align: center;
  }
}
.default-h1{
  margin-top: 15rem;
  text-align: center;
  font-family: var(--paragraph);
  font-size: 5rem;
  font-variant: small-caps;
  letter-spacing: 3px;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.div-projects{
  margin: 8rem auto 1rem;
  background-color: var(--modal);
  text-align: center;
  font-family:var(--paragraph);
  color: var(--words);
  outline: none;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  transition: 0.2s ease-in;
  background-position: center center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.div-projects:hover{
  transform: translateY(0) scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.div-projects a{
  color: var(--words);
  margin: 10px;
}
.div-projects a:hover{
  color:var(--hover);
}
.container img{
  height: 35vh;
  width: 50vh;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  outline: none;
}
.fa-link{
  font-size: 15px;
  margin: 10px;
}
#skills{
  margin-bottom: 10rem;
}
.flip-card {
  margin: auto;
  margin-bottom: 5rem;
  background-color: transparent;
  height: 350px;
  width: 300px;
  border: 3px solid var(--hover);
  perspective: 1000px;
  
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: var(--backgroundHeader);
  color: black;
  height: 100%;
}
.flip-card-back {
  background-color: #004743;
  font-family: var(--paragraph);
  transform: rotateY(180deg);
  color: wheat;
  height: 100%;
  width: 100%;
}
.flip-card-back p, h1{
  margin: 20px;
  font-size: 1.3rem;
}
.flip-card-back h1{
  text-decoration: underline;
  font-weight: bolder;
}
.flip-card-front h1{
  font-size: 1.3rem;
  color: #fff;
  font-family: var(--title);
  letter-spacing: 2px;
}
.img-skills{
  height: 15rem;
}
.box-contact{
  display:flex;
  justify-content: center;
  margin: 3rem;
}
.email{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--button);
  padding: 20px;
  border-radius: 5px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.email p{
color: var(--words);
font-family: var(--paragraph);
}
.fa-brands{
  cursor: pointer;
  color: var(--words);
  font-size: 2rem;
}
.icons-img{
  height: 3rem;
  border-radius: 5px;
  transition: 0.5s;
}
.icons-img:hover{
  transform: translateY(10px);

}
.links-contact{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5rem;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(132, 255, 201, 1);
  border-radius: 3px;
}
